* {
	margin: 0 auto;
	padding: 0;
}
body {
	font-family: Courier New, sans-serif;
	font-size: 10px;
	background: white;
}
h3 {
	font-family: Courier New, serif;
}
main#main {
  background: #e6f3fb;
	color: black;
	width: 320px;
	height: 730px;
	padding: 5px 10px;
  margin-top: 15px; 
}
.blogroll {
  background: #ffffff;
  padding: 5px;
  border-top: 4px solid #f7a418;
}
.blogroll__content {
	padding-bottom: 5px;
}
.blogroll__content__img {
	float: left;
  width: 155px;
  height: 80px;
  border: 1px solid #c9c9c9;
  margin-right: 5px;
  margin-bottom: 10px;
}
.bloroll__content__title {
	padding: 5px;
	margin-top: 5px;
	color: #0a6395;
}
.blogrol__content__p {
	padding: 5px;
}
.blogroll__content_list {
	list-style: none;
	padding: 0 -5px;
}
.blogroll__content_list li {
	padding: 10px;
	background: 
}

