*{
	margin: 0;
	padding: 0;
}
body {
	font-family: Time New Roman, serif;
	font-size: 10px;
  background: #121214;
}
h4 {
  color: #f3f4f3;
  padding-right: 2px;
  margin-top: 0;
  font-weight: normal;
}
main#main {
  padding: 10px 25px;
  margin: 0 auto;
  width: 700px;
  color: #6b6360;
}
.page-left {
  width: 420px;
  float: left;
}
.page-left__title {
  margin-left: 30px;
  padding: 10px 0;
}
.post {
  margin-left: 30px;
  height: 260px;
  padding: 10px 0; 
}
.post__box {
  border-bottom: 1px dotted #3f3f41;
  padding: 10px 1px 10px 0;
}
.post__box__img {
  float: left;
  width: 160px;
  height: 100px;
  padding: 0 20px 35px 0px;
  margin-left: -13px;
}
.post__box__content {
  padding: 10px 10px 2px 2px;
  margin-left: -13px;
}
.post__box:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.post__link {
  padding: 10px 0;
}
.post__link a {
  -webkit-text-decoration: none;
  -moz-text-decoration: none;
  -ms-text-decoration: none;
  -o-text-decoration: none;
  text-decoration: none;
  display: block;
  color: white;
}
.post__link a:before {
  content: url(img/more_info.gif);
  float: left;
  margin-right: 4px;
  margin-top: 1px;
}
.post__box__list {
  float: left;
  width: 50%;
  list-style: none;
  padding-top: 20px;
}
.post__box__list li a {
  -webkit-text-decoration: underline;
  -moz-text-decoration: underline;
  -ms-text-decoration: underline;
  -o-text-decoration: underline;
  text-decoration: underline;
  color: #6b6360;
  padding-left: 10px;
}
.post__box__list li:before {
  content: "";
  border-color: rgba(107,76,76,0) #838080;
  border-style: solid;
  border-width: .20em 0 .20em .30em;
  display: block;
  top: .9em;
  position: relative;
}
.page-right {
  float: left;
  background: #232227;
  width: 180px;
  height: 300px;
  padding: 50px 20px 20px 20px;
  margin-left: 10px;
}
.page-right__box {
  border-top: 1px dotted #3f3f41;
  padding: 20px 10px 30px 10px;
}
.page-right__box:before {
  content: '';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.pr__box__img {
  width: 150px;
  height: 93px;
  padding-bottom: 20px;
}
.pr__post__h4x {
  float: left;
}
.pr__post__h4x__gray {
  color: gray;
}
.pr__Box__content__gray {
  font-size: 11px;
  color: gray;
}
