* {
	margin: 0;
	padding: 0;
}
div#header {
	border-bottom: 1px solid #474a51;
}
body {
	font-family: Verdana,"Arial",Helvetica, serif;
	background: #2d2f35;
	width: 1300px;
}
.inner {
	width: 1300px;
	margin: 0 auto;
	color: #white;
}
.inner a {
	display: inline-block;
}
.clear:after {
	content: " ";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
.banner {
    position: relative;
    height: 300px;
    background: url(img/bg_home_intro.gif) repeat-x;
    border-bottom: 1px solid #474a51;
}
.content {
    width: 400px;
    margin-left: 10%;
    position: relative;
    z-index: 99;
}
h3.title {
    font-size: 22px;
    font-family: Courier New, serif;
    color: #ffff00;
    font-weight: 300;
}
.content p {
    font-size: 14px;
    color: #cccccc;
}
img.img-intro {
	position: absolute;
	bottom: 0px;
	right: 10%;
}
.menu {
	padding: 20px;
	border: 1px solid #474a51;
}
.menu ul {
	list-style-type: none;
	overflow: hidden;
	width: 95%;
	text-align: center;
}
.menu ul li {
	display: inline-block;
	position: relative;
	margin-left: 20px;
}
.menu ul li a {
	display: inline-block;
}
img.index {
	position: absolute;
  top: 2px;
  right: 2px;
}
div#main {
    padding: 5px 0;
    border-bottom: 1px solid #474a51;
}
.info {
	text-align: justify;
	width: 40%;
}
.info.note-1 {
	background: url(img/home_services_bg_design.gif) no-repeat right bottom;
	float: left;
	margin-left: 10%;
	width: 450px;
}
.info.note-2 {
	background: url(img/home_services_bg_marketing.gif) no-repeat;
	float: right;
	margin-right: 10%;
	width: 450px;
}
.info h3.title {
  font-family: 
	font-size: 20px;
	font-weight: 550;
}
.info p {
	font-size: 14px;
	color: #cccccc;
}
.info.note-2 p {
	margin-top: 35px;
}
div#footer {
  height: 100px;
	background: #24262a url(img/bg_footer.gif) no-repeat center bottom;
  text-align: center;
}

